.vditor {
  --toolbar-background-color: #ffffff !important;
  --textarea-background-color: #ffffff !important;
  --panel-shadow: unset !important;
  --border-color: unset !important;

  .vditor-toolbar {
    padding-left: 0 !important;
  }


  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h5 {
    font-size: 16px !important;
  }

  h6 {
    font-size: 14px !important;
  }

  .vditor-reset {
    padding: 10px !important;
  }

}

.vditor-reset {
  h1 {
    font-size: 24px !important;
    margin-top: 0 !important;
  }

  h2 {
    font-size: 22px !important;
    margin-top: 0 !important;
  }

  h3 {
    font-size: 20px !important;
    margin-top: 0 !important;
  }

  h4 {
    font-size: 18px !important;
    margin-top: 0 !important;
  }

  h5 {
    font-size: 16px !important;
    margin-top: 0 !important;
  }

  h6 {
    font-size: 14px !important;
    margin-top: 0 !important;
  }
}

